{% load static%}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>{% block title %}Educa{% endblock %}</title>
     <link rel="stylesheet" href="{% static 'css/base.css' %}">
 </head>
 <body>
     <div id="header">
        <ul class="menu">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Sign out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Sign in</a></li>
            {% endif %}
        </ul>
     </div>
     <div id='content'>
         {% block content %}
         {% endblock %}
     </div>
     <script src="{% static 'jquery/jquery-3.4.1.min.js'%}"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
     <script>
         $(document).ready(function(){
             {% block domready %}
                $('#modules').sortable({
                    stop: function(event, ui){
                        modules_order = {};
                        $('#modules').children().each(function(){
                            // update the order field
                            $(this).find('.order').text($(this).index() + 1);
                            // associate the modules id with its order
                            modules_order[$(this).data('id')] = $(this).index();
                        });
                        $.ajax({
                            type: 'POST',
                            url: '{% url "module_order" %}',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            data: JSON.stringify(modules_order)
                        });
                    }
                });

                $('#module-contents').sortable({
                    stop: function(event, ui){
                        contents_order = {};
                        $('#module-contents').children().each(function(){
                            // associate the modules id with its order
                            content_order[$(this).data('id')] = $(this).index();
                        });

                        $.ajax({
                            type: 'POST',
                            url: '{% url "content_order" %}',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            data: JSON.stringify(contents_order)
                        });
                    }
                });
             {% endblock %}
         });
     </script>
 </body>
 </html>