{% load static%}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>{% block title %}Educa{% endblock %}</title>
     <link rel="stylesheet" href="{% static 'css/base.css' %}">
 </head>
 <body>
     <div id="header">
        <ul class="menu">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Sign out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Sign in</a></li>
            {% endif %}
        </ul>
     </div>
     <div id='content'>
         {% block content %}
         {% endblock %}
     </div>
     <script src="{% static 'jquery/jquery-3.4.1.min.js'%}"></script>
     <script>
         $(document).ready(function(){
             {% block domready %}
             {% endblock %}
         });
     </script>
 </body>
 </html>